
html {
    font-size: 14px;
}

body {
    font: 14px/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    font-size: 100%;
    line-height: 1.5;
    color:#000;
    margin:0; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


h1 { 
    font-size: 2.4em;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1.4px;
    line-height: 1.25;
}


h2 {
    font-size: 2.1em;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #009900;
    line-height: 1.1;
}

h3 {
    font-size:1.8em;
    margin-bottom:.7em; 
}

p {
    font-family: Verdana;
    font-size: 11px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
}


.list-horizontal li {
    display:inline-block;
}

.list-horizontal li:before {
    content: '\00a0\2022\00a0\00a0';
    color:#999;
    color:rgba(0,0,0,0.5);
    font-size:11px;
}

.list-horizontal li:first-child:before {
    content: '';
}