<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/geo_sampling/">Geo Sampling</a></li>
        		<li><a href="/allocator/">Allocator</a></li>
        		<li><a href="/women-count/">Women Count</a></li>
        		<li><a href="/streetview/">Streetview</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
   		<li><a href="https://github.com/geosensing">https://github.com/geosensing</a></li>
      </ul>
			</footer>
		</body>
	</html>
