<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id = id="main-navbar">
	    	<ul class = "nav navbar-nav navbar-right">
	        	<li class = "navlinks-container"><a href="/">Home</a></li>
	        	<li class = "navlinks-container"><a href="https://github.com/geosensing/geo_sampling">Geo Sampling</a> | </li>
        		<li class = "navlinks-container"><a href="https://github.com/geosensing/allocator">Allocator</a>  | </li>
        		<li class = "navlinks-container"><a href="https://github.com/geosensing/women-count">Women Count</a> | </li>
        		<li class = "navlinks-container"><a href="https://github.com/geosensing/streetview">Streetview</a></li>
	    	</ul>
	    </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	<ul>
   				<li><a href="https://github.com/geosensing">https://github.com/geosensing</a></li>
      		</ul>
			</footer>
		</body>
	</html>
